<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clinica del Dr. Chapatín.">
    <meta name="author" content="Edy - Allinson - Moisés">

    
    <title>Clinica - {% block title %}Home{% endblock %}</title>
    

    {% block styles %}
        <link href="{{ asset('bundles/eam/images/icon.png') }}" rel='icon' type='image/png'>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/eam/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

        <script src="{{ asset('bundles/eam/js/jquery.min.js') }}" type="text/javascript"></script>

        <!-- MetisMenu CSS -->
        <link href="{{ asset('bundles/eam/css/metisMenu.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/eam/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css" />

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/eam/css/fontawesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />

        <!-- css for datepicker -->
        <link href="{{ asset('bundles/eam/datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
        <!-- css for timepicker -->
        <link href="{{ asset('bundles/eam/timepicker/css/jquery.timepicker.css') }}" rel="stylesheet" type="text/css" />

    {% endblock %}

    {% block scripts %}  {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('Home') }}"> Clinica Dr. Chapatín </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li> <a href="{{ path('Ayuda') }}">Ayuda - Instrucciones</a> </li>
              <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                         <li>
                            <a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión - {{ nombre }}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->                
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" disabled placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {# Esta sección de empleados debe estar condicionada a que solo aparezca si es ROLE_ADMIN #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="#">
                                    <i class="fa fa-users fa-fw"></i> Empleados <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('Nuevo_empleado') }}"><i class="fa fa-plus-square"></i> Añadir </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('Ver_empleados') }}"><i class="fa fa-list"></i> Mostrar </a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        {% endif %}

                            <li>
                                <a href="#">
                                    <i class="fa fa-user-md fa-fw"></i> Paciente <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('NuevoPaciente') }}"><i class="fa fa-plus-square"></i> Añadir </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('Buscar_Pacientes') }}"><i class="fa fa-list-ul"></i> Buscar </a>
                                    </li>                                    
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>

                        

                        {# La gestion de citas no necesita condicionarse ya que todo el personal puede gestionar citas #}
                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar fa-fw"></i> Citas <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('Nueva_cita') }}"><i class="fa fa-plus-square"></i> Añadir </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('Mostrar_citas') }}"><i class="fa fa-list"></i> Mostrar </a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        
                        {# La gestion de visitas no necesita condicionarse ya que todo el personal puede gestionar citas #}
                            <li>
                                <a href="#">
                                    <i class="fa fa-hospital-o fa-fw"></i></i> Visitas <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('Visita_Nueva') }}"><i class="fa fa-plus-square"></i> Añadir </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('Visita_Mostrar') }}"><i class="fa fa-list"></i> Mostrar </a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>


                           	<li>
                                <a href="#">
                                    <i class="fa fa-clipboard fa-fw"></i> Historia Clinica <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('Nueva_Historia') }}"><i class="fa fa-plus-square"></i> Nueva </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('Buscar_Historia') }}"><i class="fa fa-list-ul"></i> Buscar </a>
                                    </li>                                    
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        
                        <li>
                            <a href="#"> =)(/%$#" <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="#"><i class="fa fa-shield fa-fw"></i> Avanzado <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('Bitacora') }}"> <i class="fa fa-book fa-fw"></i> Bitácora </a>
                                </li>
                                 <li>
                                    <a href="{{ path('Donut') }}" > <i class="fa fa-info fa-fw"></i> Reportes </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                        <li>
                             <a href="#" data-toggle="modal" data-target="#myModal"> <i class="fa fa-sign-out"></i> Cerrar Sesión  </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
     </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Salir</h4>
              </div>
              <div class="modal-body">
                <h4>¿Desea salir de la sesión?</h4>
              </div>
              <div class="modal-footer">
                <a href="{{ path('logout') }}"><button type="button" class="btn btn-outline btn-success">Si</button></a>
                <button type="button" class="btn btn-outline btn-primary" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
    <!-- /#wrapper -->

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            {#Aqui dentro es donde se colocará el bloque correspondiente a cada acción.#}
            {% block content %}
                <div class="row" >
                    <div class="col-lg-10 principio well well-lg">
                    
                        <h1>Bienvenido/a, {{ nombre }}.</h1>
                        <div class = "mensaje" > <h4> ¿Que le gustaría hacer hoy? </h4> </div>


                        <div class = "row" >
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-lg-3 col-md-6 ">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <i class="fa fa-users fa-3x"></i>
                                                </div>
                                                <div class="col-xs-10 text-right">
                                                    <h5>Gestión de Empleados</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{ path('Ver_empleados') }}">
                                            <div class="panel-footer">
                                                <span class="pull-left">Ir</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-calendar fa-3x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h5>Gestión de Citas</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ path('Mostrar_citas') }}">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>

                            </div>
 
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-user-md fa-3x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h5>Gestión de Pacientes</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ path('Buscar_Pacientes') }}">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-book fa-3x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h5>Gestión de XXXXXXXX</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        
                        <div class = "row" >
                             <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-user-md fa-3x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h5>Gestión de Historias</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-hospital-o fa-3x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h5>Gestión de Visitas</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ path('Visita_Mostrar') }}">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                         
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-book fa-3x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h5>Ver Bitácora</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ path('Bitacora') }}">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-book fa-3x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h5>Gestión de XXXXXXXX</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            {% endblock %}
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    <!-- Footer -->
     <footer>
        <div class = "row" style="padding-top:20px; padding-left:110px; background-color:#BDBDBD;">
            <div class = "col-lg-6 col-lg-offset-1">
                <p><b>Desarrollado por: EAMCompany</b> ---- Contact information: <a href="mailto:eamcompany@gmail.com">EAMCompany</a>.</p>
            </div>
        </div>
    </footer> 

    {% block javascript %}
         <!-- jQuery -->
        <script src="{{ asset('bundles/eam/js/jquery-1.11.2.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/eam/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('bundles/eam/js/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('bundles/eam/js/sb-admin-2.js') }}"></script>

        <!-- JS for datepicker -->
        <script src="{{ asset('bundles/eam/datepicker/js/bootstrap-datepicker.js') }}" > </script>

        <!-- JS for timepicker -->
        <script src="{{ asset('bundles/eam/timepicker/js/jquery.timepicker.js') }}" > </script>

        <script>
            (function(){
                $('#eambundle_empleado_fechaNac').datepicker({ format: "dd-mm-yyyy" });
            })(jQuery);
        </script>

        <script>
            (function(){
                $('#eambundle_empleado_fechaInicio').datepicker({ format: "dd-mm-yyyy" });
            })(jQuery);
        </script>

        <script>
            (function(){
                $('#eambundle_cita_fecha').datepicker({ format: "dd-mm-yyyy" });
            })(jQuery);
        </script>

        <script>
                (function() {
                    $('#eambundle_cita_hora').timepicker({
                        'disableTimeRanges': [
                        ['12am', '7am'],
                        ['9pm', '11pm']
                        ]
                });
                })(jQuery);
        </script>

        <script>
            (function(){
                $('#eambundle_visita_fecha').datepicker({ format: "dd-mm-yyyy" });
            })(jQuery);

        </script> 

        <script>
            (function() {
                $('#eambundle_visita_hora').timepicker({
                    'disableTimeRanges': [
                    ['12am', '7am'],
                    ['9pm', '11pm']
                    ]
                });
            })(jQuery);
        </script>    

        <script>
            (function(){
                $('#eambundle_paciente_fechasNac').datepicker({ format: "dd-mm-yyyy" });
            })(jQuery);
        </script>

        <script>
            (function(){
                $('#eambundle_paciente_emergencias_0_fechaAnhadido').datepicker({ format: 'dd-mm-yyyy' });
            })(jQuery);
        </script> 

        <script>
            (function(){
                $('#eambundle_paciente_historiaClinica_alergias_0_fecha').datepicker({ format: 'dd-mm-yyyy' });
            })(jQuery);
        </script> 

        <script>
            (function(){
                $('#eambundle_paciente_historiaClinica_medicamentosUsados_0_fecha').datepicker({ format: 'dd-mm-yyyy' });
            })(jQuery);
        </script> 

    {% endblock %}

</body>

</html>
