<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    
    <title>Clinica - {% block title %}Home{% endblock %}</title>
    

    {% block styles %}
        <link href="{{ asset('bundles/eam/images/icon.png') }}" rel='icon' type='image/png'>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/eam/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- MetisMenu CSS -->
        <link href="{{ asset('bundles/eam/css/metisMenu.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/eam/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css" />

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/eam/css/fontawesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block scripts %}  {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('Home') }}"> Clinica del Dr. Chapatin </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
              <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                         <li>
                            <a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión - {{ nombre }}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {# Esta sección de empleados debe estar condicionada a que solo aparezca si es ROLE_ADMIN #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="#">
                                    <i class="fa fa-users fa-fw"></i> Empleados <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('Nuevo_empleado') }}"><i class="fa fa-plus-square"></i> Añadir </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-refresh"></i> Actualizar </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-minus-square"></i> Eliminar </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pencil-square-o"></i> Editar privilegios </a>
                                    </li>                                
                                    <li>
                                        <a href="{{ path('Ver_empleados') }}"><i class="fa fa-list"></i> Mostrar </a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        {% endif %}
                        <li>
                            <a href="#"> !"#/(=)(/" </a>
                        </li>
                        <li>
                            <a href="forms.html"> !#"$/()=?" </a>
                        </li>
                        <li>
                            <a href="#"> !"$%/()" <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="#">Buttons</a>
                                </li>
                                <li>
                                    <a href="#">Notifications</a>
                                </li>
                                <li>
                                    <a href="#">Typography</a>
                                </li>
                                <li>
                                    <a href="#"> Icons</a>
                                </li>
                                <li>
                                    <a href="#">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"> =)(/%$#" <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                             <a href="{{ path('logout') }}"> <i class="fa fa-sign-out"></i> Cerrar Sesión </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {#Aqui dentro es donde se colocará el bloque correspondiente a cada acción.#}
                {% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                <!-- /.row -->
                {% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% block javascript %}
       <!-- jQuery -->
        <script src="{{ asset('bundles/eam/js/jquery.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/eam/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('bundles/eam/js/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('bundles/eam/js/sb-admin-2.js') }}"></script>
    {% endblock %}

</body>

</html>
