{% extends "::baseClinica.html.twig" %}

{% block title %}  Nuevo {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"> Nuevo Empleado </h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class = "row" >
	<div class = "col-lg-3 col-lg-offset-4">
		{% if error == "user_registered" %}
			<div class = "alert alert-danger alert-dismissable">
				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
				Empleado existente.
			</div>
		{% endif %}
		
		<form method="POST" action = "{{ path('Nuevo_empleado') }}" >
			<div class = "row" >
				<h3> Datos de cuenta </h3>
			</div>
    		<div class = "form-group" >
    			{% if form_errors(form.nombreUsuario) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.nombreUsuario) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.nombreUsuario, 'Nombre de Usuario') }}
	    		{{ form_widget(form.nombreUsuario, {'attr':{'class':'form-control', 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Lóngitud máxima 15 carácteres', 'data-container':'body'}}) }}

	    		{% if form_errors(form.contrasenha) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.contrasenha) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.contrasenha,'Contraseña') }}
	    		{{ form_widget(form.contrasenha, {'attr':{'class':'form-control'}}) }}

	    		<div class = "row" >
					<h3> Datos de personales </h3>
				</div>
	    		{% if form_errors(form.nombre) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.nombre) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.nombre) }}
	    		{{ form_widget(form.nombre, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Lóngitud máxima 15 carácteres', 'data-container':'body'}}) }}

	    		{% if form_errors(form.apellido) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.apellido) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.apellido) }}
	    		{{ form_widget(form.apellido, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Lóngitud máxima 15 carácteres', 'data-container':'body'}}) }}

	    		{% if form_errors(form.fechaNac) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.fechaNac) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.fechaNac) }}
	    		{{ form_widget(form.fechaNac, {'attr':{'id':'datepicker', 'class':'form-control', 'placeholder':'dia-mes-año', 'id':'datepicker', 'readonly':''}}) }}

	    		{% if form_errors(form.seguroSocial) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    			    {{ form_errors(form.seguroSocial) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.seguroSocial,'Número de seguro social') }}
	    		{{ form_widget(form.seguroSocial, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Solo números', 'data-container':'body'}}) }}

	    		{% if form_errors(form.direccion) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.direccion) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.direccion,'Dirección') }}
	    		{{ form_widget(form.direccion, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Municipio, calle, número casa', 'data-container':'body'}}) }}

	    		{% if form_errors(form.telefono) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.telefono) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.telefono,'Teléfono') }}
	    		{{ form_widget(form.telefono, {'attr':{'class':'form-control', 'placeholder':'04128523697', 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Solo números', 'data-container':'body'}}) }}

	    		<div class = "row" >
					<h3> Datos de empleo </h3>
				</div>

	    		{% if form_errors(form.fechaInicio) %}
	    			<div class = "alert alert-danger alert-dismissable">
	    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
	    				{{ form_errors(form.fechaInicio) }}
	    			</div>
				{% endif %}
	    		{{ form_label(form.fechaInicio, 'Fecha de ingreso al cargo') }}
	    		{{ form_widget(form.fechaInicio, {'attr':{'id':'datepicker', 'class':'form-control', 'placeholder':'dia-mes-año','id':'datepicker', 'readonly':''}}) }}

	    		<label style = "padding-top:10px;"> Tipo de cargo </label>
		    	<div class="radio" style="padding-left:50px;">
			    	 {% for type in form.tipo %}
			    	 	<div div class="row">
			    	 		{{ form_widget(type) }}
			    	 		{{ form_label(type) }}
			    	 	</div>
			    	 {% endfor %}
			    </div>
			</div>

	    	<div style= "padding-bottom: 20px;">
	    		{{form_widget(form.Guardar ,{'attr':{'class':'btn btn-outline btn-primary'}})}}
	    		{{form_widget(form.Guardar_otro ,{'attr':{'class':'btn btn-outline btn-success'}})}}
	    		{{form_widget(form.Cancelar ,{'attr':{'class':'btn btn-outline btn-danger'}})}}
	    	</div>
	    	<div class = "row" >
	    		{{ form_rest(form) }}	    		
	    	</div>
    	</form>
	</div>
</div>
<!-- /.row -->

{% endblock %}


{% block javascript %}
	{{ parent() }}

	<script>
		$(function () {
	  		$('[data-toggle="tooltip"]').tooltip()
		})
	</script>

{% endblock %}