{% extends "::baseClinica.html.twig" %}

{% block title %}  Mostrar {% endblock %}

{% block content %}	
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header"> Detalles </h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4" style="padding-left:140px;">
			<img src="{{ asset('bundles/eam/images/user.png') }}" alt="profile_picture" style="width:160px; height:180px">
		</div>

		<div class="col-lg-4">
			<div class = "panel panel-info">
				<div class = "panel-body">
					<div class = "table-responsive">
						<table class = "table">
							<tbody>
								<tr>
									<td> <b> Nombre:</b> </td>
									<td> {{ entidad.nombre }} </td>
								</tr>
								<tr>
									<td> <b> Apellido: </b> </td>
									<td> {{ entidad.apellido }} </td>
								</tr>
								<tr>
									<td> <b> Nombre de Usuario: </b> </td>
									<td> {{ entidad.nombreUsuario }} </td>
								</tr>
								<tr>
									<td> <b> Tipo de empleado: </b> </td>
									<td> {{ entidad.tipo }} </td>
								</tr>
								<tr>
									<td> <b> Fecha de Nacimiento: </b> </td>
									<td> {{ entidad.fechaNac|date('d/m/y') }} </td>
								</tr>
								<tr>
									<td> <b> Número de seguro social: </b> </td>
									<td> {{ entidad.seguroSocial }} </td>
								</tr>
								<tr>
									<td> <b> Dirección: </b> </td>
									<td> {{ entidad.direccion }} </td>
								</tr>
								<tr>
									<td> <b> Fecha de Ingreso: </b> </td>
									<td> {{ entidad.fechaInicio|date('d/m/y') }} </td>
								</tr>
								<tr>
									<td> <b> Teléfono: </b> </td>
									<td> {{ entidad.telefono }} </td>
								</tr>								
							</body>
						</table>
					</div>
				</div>
			</div>
			<form method="POST" action="{{ path('Ver_empleados') }}">
							<input type="hidden" value="{{ entidad.id }}" name="id" >
							<button class="btn btn-outline btn-primary" type="submit">Regresar</button>
						</form>
		</div>
	</div>
{% endblock %}