{% extends "::baseClinica.html.twig" %}

{%block title %} Reportes {% endblock %}

{% block content %}
	<div class = "row">
		<div class ="col-lg-12"> 
			<h2 class="page-header"> Cantidad de Empleados en el sistema </h2>
		</div>
	</div>
	

	<div class = "row">
		<div class = "col-lg-12">
			<div id="donut-empleados"></div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="{{ asset('bundles/eam/js/morris.min.js') }}"></script>
	<script src="{{ asset('bundles/eam/js/raphael-min.js') }}"></script>

	<script>
		Morris.Donut({
		  element: 'donut-empleados',
		  data: [
		    {label: "Médicos", value: {{ cantidad_medicos }} },
		    {label: "Enfermeras/os", value: {{ cantidad_enfermeras }}},
		    {label: "Administrativos", value: {{ cantidad_administrativos }}}
		  ],
		  colors: ["#85A3FF", "#FFC2FF", "#33AD33"]
		});
	</script>

{% endblock %}